{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Guardians</title>
    <link
      rel="shortcut icon"
      href="logo2.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href= "{% static 'style.css' %}">


  </head>

  
  <body>

   
    <div id="nav">
      <img
      
        src="{% static 'logo2.png' %}" width="70" height="250"
        alt=""
      />
    <h1>DIGITAL GUARDIANS</h1> 
    <button class="btn"><a href="/signup">SIGN UP</a>-->

      </button>
      <button class="btn"><a href="/signin">LOGIN</a>-->
      </button>
      <button class="btn"><a href="/team">OUR TEAM</a>-->
      </button>
    </div>
   
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

    <video
      autoplay
      loop
      muted
      src="{% static 'Cybersecurity.mp4' %}"
    ></video>
    <div id="main">
      <div id="page1">
        <h1>SAFE! & SECURE! </h1>
        <h2>WELCOME TO DIGITAL GUARDIANS</h2>
        <p>
          Welcome to Digital Guardians, your ultimate resource for safeguarding children against cyberbullying.
          Empowering parents and educators with tools and insights to ensure online safety and well-being.
        </p>
        <div id="arrow">
          <i class="ri-arrow-down-line"></i>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            <h4>PREVENTION!</h4>
            <h4>EDUCATION!</h4>
            <h4>SECURITY!</h4>
            <h4>PROTECTION!</h4>
            <h4>AWARENESS!</h4>
          </div>
          <div id="scroller-in">
            <h4>PREVENTION!</h4>
            <h4>EDUCATION!</h4>
            <h4>SECURITY!</h4>
            <h4>PROTECTION!</h4>
            <h4>AWARENESS!</h4>
          </div>
        </div>
        <div id="about-us">
          <img
            src="{% static 'pic3.png' %}"
            alt=""
          />
          <div id="about-us-in">
            <h3>ABOUT US</h3>
            <p>
              Welcome to Digital Guardians, your go-to hub for shielding children from cyberbullying.
              We offer essential tools and insights for parents and educators to ensure online safety.
              With our comprehensive resources, empower yourself to confidently navigate the digital 
              realm and protect young ones from the pervasive threat of online harassment. 
              Join us in our mission to foster a safer online environment for all.
            </p>
          </div>
          <img
            src="{% static 'pic2.png' %}"
            alt=""
          />
        </div>
        <div id="cards-container">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>Understand!</h4>
              <p>
                Exploring the different forms of cyberbullying and how they impact
                children's mental health and well-being.

              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>Prevention!</h4>
              <p>
                educators, and children with practical tips and strategies to prevent
                cyberbullying, including setting privacy settings on social media 
                platforms, promoting positive online behavior, and fostering open 
                communication with children.
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>Responding!</h4>
              <p>
                Offering guidance on how to respond effectively to cyberbullying incidents,
                including steps to take if a child is being bullied online, how to document
                 evidence, and when to involve authorities or school administrators.

              </p>
            </div>
          </div>
        </div>
        <div id="green-div">
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt=""
          />
          <h4>
           YOU CAN NOW USE OUR WEB EXTENSION FOR USING OUR SERVICES SEAMLESSLY !!
          </h4>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt=""
          />
        </div>
      </div>
      <div id="page3">
        <p>
          Digital Guardians is not just a shield; it's a beacon of hope. By arming parents
          and educators with knowledge and tools, it fosters a safer, more positive online
          experience for children. 
        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt=""
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt=""
        />
        
      </div>
      <div id="page4">
        <h1>GET STARTED NOW !</h1>
        <p>

        </p>
       
        <div class="elem">
          <h2>EXTENSION! 
          
          </h2>
          
          <img
            src="{% static 'pic1.png' %}"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>QUIZES!
            
            <button style="background-color:rgb(0, 0, 0);">GET DEMO</button>
          </h2>
          <img
            src="{% static 'pic4.png' %}"
            alt=""
          />
        </div>
        <div class="elem">
          <h2>GAMES!
            <button style="background-color:rgb(0, 0, 0);"><a href="">GET DEMO</a></button>
          </h2>
          <img
            src="{% static 'pic5.png' %}"
            alt=""
          />
        </div>
      </div>
      <div id="footer">
        <img
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-footer.svg"
          alt=""
        />
        <div id="f1">
          <img
            src="{% static 'logo2.png' %}"
            alt=""
          />
        </div>
        <div id="f2">
          <h3>EXTENSION</h3>
          <h3>QUIZES</h3>
          <h3>GAMES</h3>
        </div>
        <div id="f3">
          
        </div>
        <div id="f4">
          <h4>
            VIT VELLORE <br />
            TAMIL NADU <br />
           INDIA <br />
           632014 <br />
            TEL: 123456789 <br />
            GET DIRECTIONS <br />
          </h4>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"
      integrity="sha512-qF6akR/fsZAB4Co1QDDnUXWnaQseLGXoniuSuSlPQK6+aWhlMZcHzkasCSlnWoe+TJuudlka1/IQ01Dnhgq95g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/ScrollTrigger.min.js"
      integrity="sha512-IHDCHrefnBT3vOCsvdkMvJF/MCPz/nBauQLzJkupa4Gn4tYg5a6VGyzIrjo6QAUy3We5HFOZUlkUpP0dkgE60A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="{% static 'script.js' %}"></script>

    

  </body>
</html>
